@import url(../../../jspm_packages/github/twbs/bootstrap@3.3.2/css/bootstrap.css);
@import url(../../../jspm_packages/bower/font-awesome@4.3.0/css/font-awesome.css);
body {
  color: black;
  font-size: 14px; }

#mainContent {
  margin: 16px;
  margin-top: 56px;
  min-height: 500px; }
